/* This file is for your main application css. */
@import "./phoenix.css";
@import "../node_modules/nprogress/nprogress.css";

/* LiveView specific classes for your customizations */
.invalid-feedback {
  color: #a94442;
  display: block;
  margin: -1rem 0 2rem;
}

.phx-no-feedback.invalid-feedback, .phx-no-feedback .invalid-feedback {
  display: none;
}

.phx-click-loading {
  opacity: 0.5;
  transition: opacity 1s ease-out;
}

.phx-disconnected{
  cursor: wait;
}
.phx-disconnected *{
  pointer-events: none;
}

.phx-modal {
  opacity: 1!important;
  position: fixed;
  z-index: 500;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  overflow: auto;
  background-color: rgb(0,0,0);
  background-color: rgba(0,0,0,0.4);
}

.phx-modal-content {
  background-color: #fefefe;
  margin: 15% auto;
  padding: 20px;
  border: 1px solid #888;
  width: 80%;
}

.phx-modal-close {
  color: #aaa;
  float: right;
  font-size: 28px;
  font-weight: bold;
}

.phx-modal-close:hover,
.phx-modal-close:focus {
  color: black;
  text-decoration: none;
  cursor: pointer;
}


/* Alerts and form errors */
.alert {
  padding: 15px;
  margin-bottom: 20px;
  border: 1px solid transparent;
  border-radius: 4px;
}
.alert-info {
  color: #31708f;
  background-color: #d9edf7;
  border-color: #bce8f1;
}
.alert-warning {
  color: #8a6d3b;
  background-color: #fcf8e3;
  border-color: #faebcc;
}
.alert-danger {
  color: #a94442;
  background-color: #f2dede;
  border-color: #ebccd1;
}
.alert p {
  margin-bottom: 0;
}
.alert:empty {
  display: none;
}

// Hairy shit:

$break-small: 400px;
$break-medium: 800px;
$break-large: 1200px;
$neutral-bg: rgba(127,127,127,0.25);

$grid: 50px;

%text-block {
	font-size: 1.2em;
	min-height: 5em;
	overflow: hidden;
}

%card-list {
	$card-pad: $grid;
	$width: $grid * 10;
	@media screen and (min-width: $break-large) {
		display: flex;
		justify-content: space-between;
		flex-wrap: wrap;
		>div {
			flex: 0 0 30vw;
		}
	}
	>div {
		box-sizing: border-box;
		background: #f0f0f0;
		border-radius: $grid / 10;
		margin-bottom: $grid;
		min-height: $grid * 5;
		position: relative;
		p {
			padding: $card-pad $card-pad 0px $card-pad;
			@extend %text-block;
		}
		.details {
			display: flex;
			bottom: $card-pad;
			left: $card-pad;
			right: $card-pad;
			justify-content: space-between;
			position: absolute;
			span {
				display: block;
				margin-top: 0.5em;
			}
		}
	}
	.ent {
		// background: rgba(255,255,255,0.5);
		display: inline-block;
		// border: 1px solid rgba(50,50,255,0.25);
		// border-bottom: 2px dotted blue;
		color: blue;
		font-weight: bold;
		// border-radius: 4px;
		// margin: 0px 2px;
		padding: 0 4px;
		position: relative;
		span {
			color: #666;
			display: block;
			font-size: 0.6em;
			letter-spacing: 1px;
			position: absolute;
			overflow: auto;
			text-transform: uppercase;
			top: 25px;
			right: 0px;
			z-index: 5;
		}
	}
}

body {
	margin: 0;
	padding: 0;
}

.button { margin-bottom: 0; }

.button-bar {
	display: flex;
	justify-content: space-between;
	div {
	}
}

.container-content {
	padding: 0 50px 50px 50px;
}

.ct-chart {
	max-width: 400px;
}
.ct-label {
	color: white;
	font-size: 110% !important;
	stroke: black;
	stroke-size: 1px;
}
.ct-series-a .ct-slice-pie {
	stroke: black;
}

#example-form {
	textarea {
		font-size: 1.5em;
		height: 3em;
	}
	.entity-editor {
		div {
			display: flex;
		}	
	}
	.instructions {
		margin-bottom: 1em;
	}
}

.examples {
	@extend %card-list;
}

figure {
	text-align: center;
	img {
		max-height: 150px; 
	}
}

header {
	.logo { 
		text-align: center; 
		padding-top: $grid/2;
		@media screen and (min-width: $break-medium) {
			padding-top: 0px;
			text-align: left;
		}
	}
	section {
		@media screen and (min-width: $break-medium) {
			align-items: center;
			display: flex;
			justify-content: space-between;
		}
		.logo {
			font-size: 2em;
			letter-spacing: -2px;
		}
	}
	nav {
		text-align: center;
		ul, li {
			white-space: nowrap;
		}
		ul {
			@media screen and (min-width: $break-small) {
				display: flex;
				justify-content: space-between;
				margin-top: 1em;
			}
			margin: 1rem;
			margin-top: 0;
			li {
				list-style-type: none;
				padding: 1em;
				a {
					font-weight: bold;
					text-decoration: none;
				}
			}
		}
	}
}

h1 { margin: $grid/2 0px $grid/2 0px; }
input#q { margin-bottom: $grid; }
input[type=text] { background: rgba(255,255,255,0.7) }
p.text { background: $neutral-bg; @extend %text-block; padding: 1em; }
.predictions {
	@extend %card-list;
	>div {
		flex-basis: 100%;
	}
}
.projects-list { @extend %card-list; }
// select option { padding: $grid/2; line-height: $grid/2; }


